.products{
    padding-bottom: 100px;
    &__cards{
        padding-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 24px;
        row-gap: 56px;
    }
    &__paginate{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 10px;
        & li{
            cursor: pointer;
            padding: 8px;
            border: 1px solid #000;
            font-size: 'Montserrat';
            font-weight: 400;
            border-radius: 5px;
            transition: 0.5s;
            &:hover{
                background: #000;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .products{
        &__cards{
            grid-gap: 24px;
            row-gap: 56px;
            grid-template-columns:  repeat(3,1fr);
            grid-gap: 10px;
        }
    }

}
@media screen and (max-width: 992px) {
    .products{
        &__cards{
            grid-gap: 24px;
            row-gap: 56px;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
        }
    }

}

@media screen and (max-width: 768px) {
    .products{
        &__cards{
            grid-gap: 24px;
            row-gap: 56px;
            grid-template-columns:  repeat(2,1fr);
            grid-gap: 10px;
        }
    }
}

@media screen and (max-width:576px) {
    .products{
        &__cards{
            grid-gap: 24px;
            row-gap: 56px;
            grid-template-columns:  repeat(2,1fr);
            grid-gap: 10px;
        }
    }
}

